
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-photo">
		<h1 class="top-photo-h1">Services</h1>
	</div> <!-- top-photo -->

	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">All Services</li>
		</ol>
	</div> <!-- container -->

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <nav class="left-bar-nav">
                    <h2 class="left-side-h2">Our Services</h2>
                    <ul class="left-side-ul">
                        <li><a href="cars.html" class="left-side-ul-li-a">Car Rental</a></li>
                        <li><a href="guide.html" class="left-side-ul-li-a">Guide Service</a></li>
                    </ul> <!-- left-side-ul -->
                </nav> <!-- left-bar-nav -->
            </div> <!-- col-sm-4 -->

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">


                        <div class="category-box">
                            <div class="category-box-img-wrapper">
                                <img src="/img/slider-img/001.jpg" class="category-box-img">
                            </div> <!-- category-box-img-wrapper -->

                            <div class="category-box-content-wrapper">
                                <div class="category-box-top-content-wrapper">
                                    <h2 class="category-box-h2">Car Rental</h2>
                                    <span class="category-box-span">From <span class="price-color"> 1,500 GEL</span></span>
                                </div> <!-- category-box-top-content-wrapper -->



                                <p class="category-box-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>


                                <a href="cars.html" class="category-box-a">Details</a>
                            </div> <!-- category-box-content-wrapper -->
                        </div> <!-- category-box -->

                        <div class="category-box">
                            <div class="category-box-img-wrapper">
                                <img src="/img/slider-img/001.jpg" class="category-box-img">
                            </div> <!-- category-box-img-wrapper -->

                            <div class="category-box-content-wrapper">
                                <div class="category-box-top-content-wrapper">
                                    <h2 class="category-box-h2">Guide Service</h2>
                                    <span class="category-box-span">From <span class="price-color"> 9,999 GEL</span></span>
                                </div> <!-- category-box-top-content-wrapper -->



                                <p class="category-box-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>


                                <a href="guide.html" class="category-box-a">Details</a>
                            </div> <!-- category-box-content-wrapper -->
                        </div> <!-- category-box -->


                    </div> <!-- col-sm-12 -->
                </div> <!-- row -->
            </div> <!-- col-sm-8 -->

        </div> <!-- row -->
    </div> <!-- container -->

